{% extends 'blog/base.html' %}
{% block hedaer %}
<li><a href="{% url 'blog_index' %}">home</a></li>
<li ><a href="{% url 'aboutMe' %}">about me</a></li>
<li><a href="{% url 'timeline' %}">timeline</a></li>
<li class="active"><a href="{% url 'category' %}">articles</a></li>
<li><a href="{% url 'blogContactMe' %}">contact me</a></li>
{% endblock %}
{% block title %}
<title>Article > {{ data.title }}</title>
{% endblock %}
{% block slider %}
<div class="top-heading">
    <!--start-wrap-->
    <div class="wrap">
        <h1>article</h1>
    </div>
    <!--end wrap-->
</div>

<div class="wrap">
    <div class="portofolio-item">
        <h1>{{ data.title }}</h1>
        <div class="banner">
            <img src="../../resources/{{ data.coverImage }}" alt="" />
        </div>
        <div class="markdown" style="float:left">
            {{ data.content | safe }}
        </div>
        <div class="grid-right" style="float:left">
            <div class="side-bar">
                <div class="grid-right-headings">
                    <h2><a>INTRODUCTION</a></h2>
                    <h6> </h6>
                    <div class="clear"> </div>
                </div>
                <p style="padding:0px;">{{ data.introduction }}</p>
                <div class="grid-right-headings">
                    <h2><a href="#">categories</a></h2>
                    <h6> </h6>
                    <div class="clear"> </div>
                </div>
                <div id="article-category">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var toc = $(".toc").clone();
    var category = $("#article-category");
    category.append(toc);
</script>
{% endblock %}
{% block recent %}
{% endblock %}