{% extends 'blog/base.html' %}
{% block hedaer %}
<li><a href="{% url 'blog_index' %}">home</a></li>
<li ><a href="{% url 'aboutMe' %}">about me</a></li>
<li><a href="{% url 'timeline' %}">timeline</a></li>
<li><a href="{% url 'category' %}">articles</a></li>
<li class="active"><a href="{% url 'blogContactMe' %}">contact me</a></li>
{% endblock %}
{% block slider %}
<div class="top-heading">
    <!--start-wrap-->
    <div class="wrap">
        <h1>contact me</h1>
    </div>
    <!--end wrap-->
</div>

<div class="wrap">
    <div class="content">
        <!-- blog-grids-->
        <div class="main-grid">
            <!-- blog-left-->
            <div class="contact-left">
                <div class="contact">
                    <div class="contact-form">
                        <form method="post" action="">
                            <div>
                                <span><input name="userName" type="text" class="textbox right" value="first Name" onfocus="if(this.value == 'first Name') this.value='';" onblur="if(this.value == '') this.value='first Name';"></span>
                            </div>
                            <div>
                                <span><input name="userName" type="text" class="active textbox" value="last Name" onfocus="if(this.value == 'last Name') this.value='';" onblur="if(this.value == '') this.value='last Name';"></span>
                            </div>
                            <div class="clear"></div>
                            <div>
                                <span><input name="userName" type="text" class="textbox right" value="Email Address" onfocus="if(this.value == 'Email Address') this.value='';" onblur="if(this.value == '') this.value='Email Address';"></span>
                            </div>

                            <div class="clear"></div>
                            <div>
                                <span><textarea rows="2" cols="70" onfocus="if(this.value == 'Your Message') this.value='';" onblur="if(this.value == '') this.value='Your Message';">Your Message</textarea></span>
                            </div>
                            <div>
                                <span>
                                    <input type="submit" class="" value="尚未启用" />
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>


{% endblock %}
{% block recent %}
{% endblock %}